DATABASE_URL=postgresql://userp:password@urlconnection/dbname?sslmode=require&channel_binding=require
PGUSER=username
PGPASSWORD=password
DB_PROJECT=database_name
CORS_ORIGINS=["*"]

# JWT Configuration
JWT_SECRET_KEY=hard_to_guess_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

# User Documents Configuration
USER_FOLDER_SALT=OrientaTech_2024_SecureSalt_UserDocs
MAX_FILE_SIZE_MB=5
MAX_FILES_PER_USER=10
ALLOWED_FILE_TYPES=pdf,doc,docx

# Groq API Configuration (for future ML features)
GROQ_API_KEY=your_groq_api_key_here

# Configuración de Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://url-personal.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT_NAME=o4-mini-deployment
AZURE_OPENAI_API_KEY=your-key-here